<div class="container">
    <h2>Contact us</h2>

    <p> please visit <a href="#">www.youtube.com</a></p>
    <article>
        <img src=".\assets\youtube.jfif" alt="img">
        <p>If you need help, please visit our Help Center.
           here you'll find answers to many common questions<br/>
           about creating an account, watching and uploading videos,<br/>
           and maintaining your channel.</p>

    </article>
    <article>
        <p>If you're unable to find what you're looking for in the Help Center,<br>
           we suggest visiting our Community Help Forum. Experiencing a bug?<br/>
           Take a look at our Current Site Issues page to see a list of known issues we're working to fix.</p>
    </article>
    <h4>please contact: +123456789</h4>
</div>
