<div class="faqs">
    <img src="D:\images\bhavna1.jpg" class="center" width="100px">
    <h3>What is the Company Name?</h3>  
    <div>  
      <p>  
     The Company Name is Bhavna Corp Established in 2012 in Noida.
     it was the best tech company to work for 2022 
      </p>    
    </div>  <br/>
    <h3>Why is it called Best Tech Company</h3>  
    <div>  
      <p>  
     Because the employees are vrey talented and doing good work to grow company as good to great
      </p>  
    </div>  <br/>
    <h3>Where is it Located?</h3>  
    <div>  
      <p>  
      it is located in two places in india
      1. Noida
      2.Hyderabad
      </p>  
    </div>  <br/>
    <h3>Why BhavnaCorp</h3>  
    <div>  
      <ul>  
        <li>Training by Dotnet Professionals</li>  
        <li>Get an opportunity to work on real time projects</li>  
         <li>Interaction with Industry Experts</li>  
          <li>Small Batches to focus on each Employee to grow</li>  
      </ul>  
    </div>  
</div>
